<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{pageTitle}}</title>
	</head>
	<body>
		{{> header}}
		
		<p>{{screamIt welcomeMessage}}</p>
		
		{{> footer}}

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	</body>
</html>